<h1>Edit your Profile</h1>
<%= render "form" %>

<%= link_to "Destroy", profile_path(@profile), data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        } %>