<div class="count_container">
  <%= render partial: "shared/bubble", locals: { commented: @comments_count || post.comment_count } %>
  <p class="space"><%= @comments_count || post.comment_count %> comments</p>
</div>