<h1>Edit Comment</h1>

<%= turbo_frame_tag "comment_#{@comment.id}" do %>
  <%= render partial: "comments/form", 
      locals: { comment: @comment, commentable: @commentable, post: @post } %>
<% end %>