<li id="<%= dom_id(notification) %>">
  <%= display_date(notification.created_at, notification.user) %>
  <%= render "notifications/#{notification.item_type.downcase}", notification: notification %>
</li>