<div class="notifications_page">
  <h1>Notifications</h1>

  <% if @notifications.any? %>
    <ul class="notify__wrapper">
      <%= render @notifications %>
    </ul>
  <% else %>
    <div class="card no-notifications">
      No notifications at this time.
    </div>
  <% end %>
</div>