<div class="menu svg_container">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path fill="" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
    <defs>
      <linearGradient id="shape-gradient" x2="0.35" y2="1" gradientTransform="rotate(-90)">
          <stop offset="0%" stop-color="var(--gradient-one)" />
          <stop offset="30%" stop-color="var(--gradient-two)" />
          <stop offset="100%" stop-color="var(--gradient-three)" />
        </linearGradient>
    </defs>
  </svg>
</div>